@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Tangerine:wght@400;700&display=swap');

/* 변수 */
:root {
  --font-size:16px
}


/* 레이아웃 */

/* 타이포그래피 */
body {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);
  line-height: 1.4;
}
.h1 , .h2 ,.h3 ,.h4 ,.h5 ,.h6 {
  line-height: 1.2;
}

.h1 {font-size: calc(val(--font-size) * 4.1875);}
.h2 {font-size: calc(val(--font-size) * 3.125);}
.h3 {font-size: calc(val(--font-size) * 2.375);}
.h4 {font-size: calc(val(--font-size) * 1.75);}
.h5 {font-size: calc(val(--font-size) * 1.3125);}
.h6 {font-size: val(--font-size);}
.subtitle {font-size: calc(val(--font-size) * 1.125);line-height: 1.4;}
.overline , .caption, .caption_bold {font-size: calc(val(--font-size) * 0.875);line-height: 1.2;}
.button {font-size: var(--font-size);line-height: 1.2;}
.caption_small {font-size: calc(val(--font-size) * 0.75);line-height: 1.2;}



/* 링크 버튼 */

/* 컬러 */

/* 폼 */